version: "3.9"

services:
  redis:
    image: redis:7.4-alpine
    container_name: techbirdsfly-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    networks:
      - techbirdsfly_network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    environment:
      - REDIS_REPLICATION_DISKLESS_SYNC=yes

volumes:
  redis_data:
    driver: local

networks:
  techbirdsfly_network:
    driver: bridge
